<div>
  <h1>ActorPedia</h1>

  <div class="container">
    <p>Search actor...</p>
    <ng-autocomplete
      placeholder="Search..."
      [(ngModel)]="search"
      [data]="data"
      [searchKeyword]="keyword"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
      (ngModelChange)="getSearchResult()"
    >
    </ng-autocomplete>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name" (click)="getSearchResultClick(item.name)"></a>
    </ng-template>
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>

  <div class="search-results" *ngIf="visibility">
    <div *ngFor="let movie of movies" class="card">
      <img src="{{ movie.posters }}" alt="{{ movie.title }}" />
      <div>
        <h3>Title: {{ movie.title }}.</h3>
        <p>Director: {{ movie.director }}.</p>
        <p>Genre: {{ movie.genres }}.</p>
        <p>Year: {{ movie.year }}.</p>
      </div>
    </div>
  </div>

  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
</div>
